beautifulsoup4
duckdb
easyocr

fastapi
fastparquet
httpx
imageio
lxml
MarkupSafe
matplotlib
python-dotenv
numpy
openpyxl
pandas
pathlib
pdfminer.six
pdfplumber
pillow
pyarrow
pydantic
pydantic_core
pydot
PyMuPDF
pyparsing
pypdf
pypdfium2
pytesseract
python-multipart
requests
requests-toolbelt
scipy
seaborn
scikit-learn
SQLAlchemy
starlette
statsmodels
tabula
uvicorn
setuptools